<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <% @subcategories.each do |subcategory| %>
                <div class="category-title">
                	<%= link_to subcategory.name, subcategory %>                		
                </div>
                <span>Publicado por: <%= subcategory.user.email %> hace alrededor de <%= time_ago_in_words subcategory.created_at %> </span>
 
                <% if signed_in? %>
                    <% if current_user.id == subcategory.user.id %>
                        <div class="article-tools">
                            <%= link_to "<span class='glyphicon glyphicon-pencil'></span> Editar".html_safe, edit_sub_category_path(subcategory) %>
                            <%= link_to "<span class='glyphicon glyphicon-trash'></span> Eliminar".html_safe, sub_category_path(subcategory), method: :delete, data: { confirm: "¿Desea eliminar esta categoría?" } %>
                            </div>
                    <% end %>
                <% end %>                
            <% end %>
        </div> 
    </div> <!-- .row-->
</div> <!-- .container -->
