<p id="notice"><%= notice %></p>

<h1>Listing Supports Infraestructures</h1>
 
 <%= form_tag infraestructures_path, :method =>'get',:remote=>true, :id=>"supports_search" do %>
   <%= text_field_tag :search, params[:search], :placeholder=>"Escriba aquí para buscar" %>
   <%= hidden_field_tag :page, params[:page] %>
 <% end %>



 <div id="supports"><%= render 'supports' %></div>

<br>
