<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @support.title %>
</p>
<p>
  <strong>Descripción:</strong>
  <%= @support.description %>
</p>
<p>
  <strong>Creado el:</strong>
  <%= @support.created_at %>
</p>
<p>
  <strong>Categoria:</strong>
  <%= @support.subCategory.category.title %>
</p>
<p>
  <strong>Subcategoria:</strong>
  <%= @support.subCategory.name %>
</p>
<p>
  <strong>Subcategoria:</strong>
  <%= @support.subCategory.name %>
</p>
<p>
  <strong>Prioridad:</strong>
  <%= @support.priority.name %>
</p>
<p>
  <strong>Estado:</strong>
  <%= @support.state %>
</p>
<p>
  <strong>Imagen:</strong>
  <%= image_tag  @support.screen %>
</p>
<% if @support.comments.any? %>
    <% @support.comments.each do |comment| %>
    <p class="<%= "bg-success" if  comment.user.role.try(:name)== "Administrador" %>">
      <label>Usuario:</label><%= comment.user.name %>
      <br>
      <label>Mensaje:</label><%= comment.note %>
      <br>
      hace: <%= time_ago_in_words comment.created_at %>
    <p>
    <% end %>
<% end %>
<%= link_to 'Back', supports_path %>
 <% unless @support.state.try(:name)==Rails.application.secrets.finalizado || @support.state.try(:name)==Rails.application.secrets.pre_finalizado %>
    <%= form_for(@comment, url:support_path) do |f| %>
      <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :note %><br>
        <%= f.text_area :note %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  <% end %>