<div class="container">
    <div class="row">
       <%= link_to "Nueva categoria", new_category_path, class: "btn btn-default" %>
        <div class="col-sm-8 col-sm-offset-1">
            <table class="table table-responsive">
                <thead>
                    <th class="col-sm-2"></th>
                    <th class="col-sm-4"></th>
                    <th class="col-sm-6"></th>
                </thead>
                <h2>Categorías Soporte CCI</h2>
                <% @categories.each do |category| %>
                  <tr>
                    <td id="colorName-cat"><h3><%= category.title %>
                    <td class="text-left">
                      <div id="body-categories">
                        <span>Creado por <%= category.user.email %> hace <%= time_ago_in_words category.created_at unless category.created_at == nil %> </span>
                      </div>              
                    </td>
                    <td>
                        <% if signed_in? %>
                            <% if current_user.id == category.user.id %>
                                <div id="body-categories">
                                    <%= link_to "<span class='glyphicon glyphicon-pencil'>&nbsp;</span>".html_safe, edit_category_path(category) %>
                                    <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, category_path(category), method: :delete, data: { confirm: "¿Desea eliminar esta categoría?" } %>
                                    </div>
                            <% end %>
                        <% end %>                                    
                    </td>
                    </div>
                  </tr>
                <% end %>
              </table>         
        </div> 
    </div> <!-- .row-->
</div> <!-- .container -->