<% if current_user.admin? %>
 <li>item admin 1</li>
 <li><%= link_to "Administración de usuarios", users_path %></li>
<% end %>
<% if current_user.usuario? %>
 <li><%= link_to "Otro link usuario 1", "#" %></li>
  <li><%= link_to "Soporte", "#" %></li>
<% end %>
<% if current_user.director? %>
  <li><%= link_to "Otro link Director 1", "#" %></li>
  <li><%= link_to "Otro link Director 2", "#" %></li>
<% end %>