<!DOCTYPE html>
<html>
<head>
  <title>TicketsApp</title>
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>

   <!-- Header  -->
   <header>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button><!-- .navbar-toggle -->
          <a class="navbar-brand" href="">
            <label>Soporte CCI</label>
          </a>
        </div>


        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <%= render 'layouts/navegacion' %>
               <li><%= link_to current_user.name, current_user  %></li> 
               <li><%= link_to 'Editar Cuenta', edit_user_registration_path %></li>                          
               <li><%= link_to 'Salir', destroy_user_session_path, method: :delete %></li>
            <% else %>
               <li><%= link_to "Ingresar", new_user_session_path %></li>
               <li><%= link_to "Registrarse", new_user_registration_path %></li>
            <% end %>   
          </ul>
        </div><!-- .collapse -->        

       </div> <!-- .container -->
    </nav>
  </header>
    <!-- End Header  -->

    
  <% if flash[:notice] %>
    <div class="alert alert-info"> <%= flash[:notice] %> </div>
  <% end %>

<%= yield %>
 <%= render "layouts/modal" %>
 <%=  link_to "Ver detalles", supports_path,  id: "miboton",  remote: true %>
</body>
</html>
